@font-face {
    font-family: comfortaa;
    src: url(Comfortaa-SemiBold.ttf);
}

*{
    font-family: comfortaa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.mobileNav{
    position:absolute;
    visibility: hidden;

}

.nav{
    position: sticky;
    top: 0;
 
}

.navGrid{
    visibility: visible;
    display: grid;
    position: sticky;
    top: 0;
    font-size: large;
    width: 100%;
    height: 100%;
    padding: 2%;
    grid-template-columns: 23% 20% 30%;
    column-gap: 225px;
    z-index: 2 ;
    place-items: center;
    justify-content: center;
    align-items:end;
    background-image: url("portfolioNavBackg.png");
    background-position: 0px 66%;
    background-repeat: no-repeat;
    background-size: cover;
}


#navBar{
    text-decoration: none;
    margin-left: 60px;
    margin-top: 20%;
    height: 50%;
    font-weight:bolder;
    font-size: x-large;
    color:#f8a3cc;
}


#navBar:visited{
    text-decoration:underline;
    color: #fca8d0;
}

#navBar:hover{
    text-decoration: none;
    background-color: #fca8d0;
    border: 5px solid #fca8d0;
    border-radius: 12px;
    color: #f3ebe4 !important;
}

.backG{
    background-color:#f6cfcc;
}


.nameHolder{
    display:grid;
    margin: 0px 20px 0px 350px;
    font-size: x-large;
    height:100px;
    row-gap: 200;
}


.namef{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1 ;
    grid-column-end: 1;
    height: 50px;
    color: #fca8d0;
    text-shadow: 5px 1px #f3ebe4;
    width: 325px;
}

.namel{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    color: #fca8d0;
    text-shadow: 5px 1px #f3ebe4;
    margin-left: 95px;
    width:250px;
}

.pinkLine{
    height: 1px;
    border: 0;
    border-top: 8px solid #f8a3cc;
    background-color: #f8a3cc;
    color: #f8a3cc;
    width: 60.6%;
    margin-left: 20.5%;
    position: sticky;
    top:11%;
    
}

.myPhoto{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width:130px;
    height:100px;
    margin-left:4%;
    border:12px solid #f3ebe4;
    border-radius: 12px;
}

.myPic{
    width:100%;
    height:100%;
    object-fit:contain;
}

.stickyElems{
    display: grid;
    justify-content: center;
    column-gap: 63%;
    margin-left: 2%;
    height:0px;
    position: sticky;
    top:14%;
}

.stickyStarOne{
    grid-column-start: 1;
    grid-column-end: 1 ;
    grid-row-start: 1;
    grid-row-end: 1;
    width:60px;
    height: 45px;
    position: relative;
    bottom:15px;

}

.stickyStarTwo{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    width:60px;
    height: 45px;
    position: relative;
    bottom:15px;
    margin-right:15px;

}

.foreBackg{
    background-color:#f2dfc8;
    margin: 0px 19.1% 0px 20.5%;
    height: 100%;
}

.aboutMeBox{
    display:grid;
    column-count: 3;

}

.aboutMeHeader{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    color:#fca8d0;
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40%;

}

.aboutMePar{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 0px 25px;
    letter-spacing: 2px;
    color: #fca8d0;
    background-color: #f3ebe4;
    height: max-content;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    
}

.eduAndExpBox{
    display: grid;
    grid-template-columns: 3;
}

.eduAndExp{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: 28%;
    color:#fca8d0;
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 10px;
}

.eduAndExpPar{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 0px 25px;
    letter-spacing: 2px;
    color: #fca8d0;
    background-color: #f3ebe4;
    height: max-content;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.innerList{
    margin-left: 40px;
    margin-top: 5px;
}

.innerListExpl{
    margin-left: 80px;
    margin-top: 3px;
}

.skills{
    font-size: 130%;
}


.projectBox{
    display: grid;
    column-count:3;  
}

.project{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: 40%;
    color:#fca8d0;
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 10px;
}


.projectPar{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 0px 25px;
    letter-spacing: 2px;
    color: #fca8d0;
    background-color: #f3ebe4;
    height: max-content;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.contactBox{
    display: grid;
    grid-template-columns: 3;
    height: max-content;
}

.contact{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: 37%;
    color:#fca8d0;
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 10px;   
}

.contactPar{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 0px 25px 3% 25px;
    letter-spacing: 2px;
    color: #fca8d0;
    background-color: #f3ebe4;
    height: max-content;
    justify-content: center;
    width: 94%;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;

}

.bulletP{
    height: 20px;
}

.formBox{
    display: grid;
    height: max-content;
    margin-bottom: 2%;
}

.emailBox{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1 ;
    grid-row-end: 1;
    margin-left: 30%;
    column-gap: 10%;
}

.subjectGridBox{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1 ;
    grid-row-end: 1;
}

.messageGridBox{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2 ;
    grid-row-end: 2;
    margin-left: 15%;
}

.sendButtonBox{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3 ;
    grid-row-end: 3;
}

.yourEmail{
    border: 3px solid #fca8d0;
}

.subjectBox{
    border: 3px solid #fca8d0;
    max-width: 250px;
}

.messageBox{
    border: 3px solid #fca8d0;
    resize:both;
    min-width: 70%;
    max-width: 400px;
    min-height: 25px;
    max-height:100px;
}

.sendButton{
    color: #f3ebe4;
    border: 3px solid #fca8d0;
    background-color: #fca8d0;
    height: 120%;
    width: 40%;
    border-radius: 12px;
}

.sendButton:visited, .sendButton:hover{
    color: #fca8d0;
    background-color:#f3ebe4;
}

.bottomFooter{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #fca8d0;
    color:#f3ebe4;
    font-size: x-large;
}

@media (max-width:1024px){
/* changed: rezised nav. bar, photo, made pink line and stars stick at certain point, aligned section titles and fixed contact boxes and button for size  */
        .navGrid{
            grid-template-columns: 30% 30% 30%;
            column-gap: 10%;
            padding-top: 5%;
            padding-right: 10%;
        }
        
        .nameHolder {
            margin: 0% 20%;
        }

        .pinkLine{
            position: sticky;
            top:90px;
        }

        .namef{
            font-size: 40px;
            margin-left: 10px;
        }

        .namel{
            font-size: 40px;
            margin-left: 90px;
        }
        .myPhoto {
            margin-left: 190px;
        }
        .stickyElems {
            position: sticky;
            top:100px;
            column-gap: 625px;
            margin-left: 30px;
        }

        .aboutMeHeader, .project{
            margin-left: 35%;
        }

        .contact{
            margin-left: 29%;
        }

        .eduAndExp{
            margin-left: 15%;
        }

        .aboutMeBox {
            column-count: 1;
        }
        .eduAndExpBox {
            column-count: 1;
        }
        .projectBox {
            column-count: 1;
        }
        .projectPar ul {
            list-style-type: disc;
            margin-left: 15px;
        }
        .contactBox {
            column-count: 1;
        }
        
        .contactPar{
            padding-right:10%;
        }

        .formBox {
            display: block;
        }
        
        .emailBox{
            width: 50%;
            margin-left: 0%;
        }
        
        .subjectGridBox, .messageGridBox{
            width: 60%;
            margin-left: 0%;
        }
        
        .sendButtonBox {
            width: 15%;
            height: 15%;
            margin-left:75%;
        }

        .sendButton {
            width: 100%;
        }
}

@media (max-width:768px){
/* changed: rezised nav. bar, photo, made pink line and stars stick at certain point, aligned section titles,  fixed contact boxes and button for size  */
/* I also created a hamburger bar */
.nav{
    z-index: 100;
}


.navGrid{
    position: absolute;
    visibility: hidden;
}

.mobileNav{
    width: 100%;
    background-image: url("portfolioNavBackg.png");
    background-position: 0px 66%;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: visible;
    position: sticky;
    top: 0px;
    height: 50px;
}


.checkbox{
    opacity: 0;
}

.checkbox:checked+.button{
    transform: rotate(45deg);
}

.checkbox:checked+.button::before{
    top:0;
    transform:rotate(0 deg);
}

.checkbox:checked+.button::after{
    top: 0;
    transform: rotate(90deg);
}

.checkbox:checked~ .menuDropList{
    left: 0 !important;
}
.buttonBack{
    position: fixed;
    top: 6px;
    left: 12px;
    width: 45px;
    height: 30px;
    margin-bottom:10px;
    z-index: 5;
    background-color: #fca8d0;
    border: 5px solid #fca8d0;
    border-radius: 12px;
    z-index:100;
}


.menuButton {
    position: fixed;
    top: 10px;
    left: 20px;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    margin-top:10px;
    z-index: 100;
}

.button,.button::before,.button::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color:#f3ebe4;
  transition-duration: .25s;
}
.button::before {
  content: '';
  top: -8px;
}
.button::after {
  content: '';
  top: 8px;
}
.menuDropList {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #f3ebe4;
  box-shadow: 2px 2px 6px #f3db8b;
  transition-duration: .25s;
  z-index:99;
}
.mNavBar {
  display: block;
  padding: 12px 24px;
  color:#fca8d0;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  list-style-image:"star.png";
}
.mNavBar:hover {
  background-color: #fca8d0;
}


.nameHolder {
    margin: 0% 20%;
}

.pinkLine{
    position: sticky;
    top:50px;
    z-index: 0;
}



.namef{
    font-size: 40px;
    margin-left: 10px;
}

.namel{
    font-size: 40px;
    margin-left: 90px;
}
.myPhoto {
    margin-left: 3px;
}
.stickyElems {
    position: sticky;
    top:65px;
    column-gap: 575px;
    margin-left: 30px;
    z-index: 0;
}

.aboutMeHeader, .project{
    margin-left: 35%;
}

.contact{
    margin-left: 29%;
}

.eduAndExp{
    margin-left: 30%;
}

.aboutMeBox {
    column-count: 1;
}
.eduAndExpBox {
    column-count: 1;
}
.projectBox {
    column-count: 1;
}
.projectPar ul {
    list-style-type: disc;
    margin-left: 15px;
}
.contactBox {
    column-count: 1;
}

.contactPar{
    padding-right:10%;
}

.formBox {
    display: block;
}

.emailBox{
    width: 50%;
    margin-left: 0%;
}

.subjectGridBox, .messageGridBox{
    width: 60%;
    margin-left: 0%;
}

.sendButtonBox {
    width: 15%;
    height: 15%;
    margin-left:75%;
}

.sendButton {
    width: 100%;
}
}

@media (max-width:480px){
    /* changed: rezised nav. bar, photo, made pink line and stars stick at certain point, aligned section titles,  fixed contact boxes and button for size  */
    /* I also resized the hamburger bar */
    .nav{
        z-index: 100;
    }
    
    
    .navGrid{
        position: absolute;
        visibility: hidden;
    }
    
    .mobileNav{
        width: 100%;
        background-image: url("portfolioNavBackg.png");
        background-position: 0px 66%;
        background-repeat: no-repeat;
        background-size: cover;
        visibility: visible;
        position: sticky;
        top: 0px;
        height: 50px;
    }
    
    
    .checkbox{
        opacity: 0;
    }
    
    .checkbox:checked+.button{
        transform: rotate(45deg);
    }
    
    .checkbox:checked+.button::before{
        top:0;
        transform:rotate(0 deg);
    }
    
    .checkbox:checked+.button::after{
        top: 0;
        transform: rotate(90deg);
    }
    
    .checkbox:checked~ .menuDropList{
        left: 0 !important;
    }
    .buttonBack{
        position: fixed;
        top: 6px;
        left: 12px;
        width: 45px;
        height: 30px;
        margin-bottom:10px;
        z-index: 5;
        background-color: #fca8d0;
        border: 5px solid #fca8d0;
        border-radius: 12px;
        z-index:100;
    }
    
    
    .menuButton {
        position: fixed;
        top: 10px;
        left: 20px;
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
        margin-top:10px;
        z-index: 100;
    }
    
    .button,.button::before,.button::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color:#f3ebe4;
      transition-duration: .25s;
    }
    .button::before {
      content: '';
      top: -8px;
    }
    .button::after {
      content: '';
      top: 8px;
    }
    .menuDropList {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #f3ebe4;
      box-shadow: 2px 2px 6px #f3db8b;
      transition-duration: .25s;
      z-index:99;
    }
    .mNavBar {
      display: block;
      padding: 12px 24px;
      color:#fca8d0;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
      list-style-image:"star.png";
    }
    .mNavBar:hover {
      background-color: #fca8d0;
    }
    
    
    .nameHolder {
        margin-right: 50%;
    }
    
    .pinkLine{
        position: sticky;
        top:50px;
        z-index: 0;
    }
    
    
    
    .namef{
        font-weight:bolder ;
        width: 170px;
        font-size: 25px;
        margin-right: 10px;
        height: fit-content;
    }
    
    .namel{
        font-weight:bolder ;
        width: 150px;
        font-size: 25px;
        margin-left: 60px;
    }
    .myPhoto {
        left:70px;
        width: 90px;
        height: fit-content;
    }
    .stickyElems {
        position: sticky;
        top:65px;
        column-gap: 575px;
        margin-left: 30px;
        z-index: 0;
    }
    
    .aboutMeHeader{
        margin-left: 20%;
    }

    .project{
        margin-left: 25%;
    }
    
    .contact{
        margin-left: 20%;
    }
    
    .eduAndExp{
        margin-left: 15%;
    }
    
    .aboutMeBox {
        column-count: 1;
    }
    .eduAndExpBox {
        column-count: 1;
    }
    .projectBox {
        column-count: 1;
    }
    .projectPar ul {
        list-style-type: disc;
        margin-left: 15px;
    }
    .contactBox {
        column-count: 1;
        margin-right: 10% ;
    }
    
    .contactPar{
        padding-right:10%;
    }
    
    .formBox {
        display: block;
    }
   

    .emailBox{
        width: 75%;
        margin-left: 0%;
    }
    
    .subjectGridBox, .messageGridBox{
        width: 60%;
        margin-left: 0%;
    }
    
    .sendButtonBox {
        width: 20%;
        height: 20%;
        margin-left:75%;
    }
    
    .sendButton {
        width: 100%;
    }
}