*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: black;
    color: green;
}

body{
    text-align: center;
    border: 50px inset green;
} 

h1{
    margin-top: 5%;
    width: 100%;
    text-align: center;
}
h3{
    width: 100%;
    text-align: center;
    margin: 5% 0;
}

button{
    text-align: center;
    background-color: green;
    color: antiquewhite;
    margin-bottom: 5%;
}
